<html>
<head>
<title>.</title>
<link rel="stylesheet" type="text/css" href="./c.css">
</head>
<body>

<div class="container" id="app">
  <!-- テスト -->
  <div class="col-xs-6">
    <div class="box1" style="width:260px">
      <template v-for="i in [1,2,3,4,5,6,7,8,9]">
        <textarea v-model="subs[$index]" class="mar gst text" @click="button($index, $event)"></textarea>
      </template>
    </div>
  </div>
  <div class="col-xs-5 debug">
    <div>
      <span>Position:</span>
      <span v-text="id"></span>
      <br>
      <button @click="echo('123')" class="btn btn-sm btn-info">echo!</button>
      <button @click="serialize()" class="btn btn-sm btn-primary">Serialize!</button>
      <button @click="load()" class="btn btn-sm btn-primary">load</button>
      <br>
      <button @click="save()" class="btn btn-sm btn-primary">save</button>
      <button @click="makeChild()" class="btn btn-sm">new</button>
      <button @click="init()" class="btn btn-sm">reset</button>
    </div>
    <div>
    <small v-text="disp"></small>
    </div>
  </div>
</div>

<script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script src="./base.js"></script>
<script src="./app.js"></script>
</body>
</html>
