g/keyloggerPrototype/build/keyloggerPrototype
g/keyloggerPrototype/keyloggerPrototype.xcodeproj/project.xcworkspace/contents.xcworkspacedata
g/keyloggerPrototype/keyloggerPrototype.xcodeproj/project.xcworkspace/xcuserdata/tani.xcuserdatad/UserInterfaceState.xcuserstate
g/keyloggerPrototype/keyloggerPrototype.xcodeproj/xcuserdata/tani.xcuserdatad/xcschemes/keyloggerPrototype.xcscheme
g/keyloggerPrototype/keyloggerPrototype.xcodeproj/xcuserdata/tani.xcuserdatad/xcschemes/xcschememanagement.plist
heroic/a.out
heroic/b.out
heroic/c.out
kite/xxbubbl/build-tmp
kite/xxbubbl/data
light/peasycam_simple/build-tmp
*.class
nook/rotate-harai/99_sub_problem/01_multipleView/xx_trash/test2/build-tmp
nook/rotate-harai/99_sub_problem/01_multipleView/xx_trash/test1/build-tmp
operon/oscjs_vue/node_modules/osc/node_modules/serialport/node_modules/node-pre-gyp/node_modules/npmlog/node_modules
operon/_retire
operon/mine/bower_components
