g/keyloggerPrototype/build/keyloggerPrototype
g/keyloggerPrototype/keyloggerPrototype.xcodeproj/project.xcworkspace/contents.xcworkspacedata
g/keyloggerPrototype/keyloggerPrototype.xcodeproj/project.xcworkspace/xcuserdata/tani.xcuserdatad/UserInterfaceState.xcuserstate
g/keyloggerPrototype/keyloggerPrototype.xcodeproj/xcuserdata/tani.xcuserdatad/xcschemes/keyloggerPrototype.xcscheme
g/keyloggerPrototype/keyloggerPrototype.xcodeproj/xcuserdata/tani.xcuserdatad/xcschemes/xcschememanagement.plist
heroic/a.out
heroic/b.out
heroic/c.out
kite/xxbubbl/build-tmp
kite/xxbubbl/data
light/peasycam_simple/build-tmp
